<h2>Members</h2>
<div>
  <ul>
    <li *ngFor="let member of members">
      <a routerLink="/detail/{{member.id}}">{{member.name}}</a>
      <button type="button" title="delete member" (click)="delete(member)">x</button>
    </li>
  </ul>
</div>

<div>
  <label for="add-member">Twice Member's Name</label>
  <input id="add-member" #memberName>
</div>
<div>
  <button type="button" (click)="add(memberName.value); memberName.value=''">Add Member</button>
</div>

<!-- <app-member-detail [member]="selectedMember"></app-member-detail> -->


